@{
    ViewBag.Title = "SLA Calculator Web Application";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>
               This web application which calculates number of ticket request which broke the SLA during a given period of time in a Production Support environment. Web Application to calculate no of SLA broke on the basis of resolution time.
               Uses excel sheet to pull the data from and display the recalculated assigned time w.r.t. support hours and calculate no of broken SLA entries provided the customizable holiday calendar and supporting hours.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Input</h5>
        The Input is An excel sheet (c) consisting of ticket information w.r.t. to different time stamps of request placing, request resolution and priority of ticket. </li>
    <li class="two">
        <h5>Register</h5>
        For Accessing the Calculate function you need to register. Click the register button on right hand side top page and enter the details in the web page if you are not registered to this website.</li>
    <li class="three">
        <h5>Login</h5>
        Click on the Login button on right hand side top of the webpage to access the Calculator. You need to register yourself first in order to login.</li>
</ol>
